<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unipu.mobapp.studentplanner">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScheduleActivity"></activity>
        <activity android:name=".EditCourseActivity" />
        <activity android:name=".EditNotesActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignupUser" />
        <activity android:name=".ForgotActivity" />
        <activity android:name=".StatisticActivity" />
        <activity android:name=".CoursesActivity" />
        <activity android:name=".CalendarActivity" />
        <activity
            android:name=".Course"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".CourseAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".CourseCreate" />
        <activity
            android:name=".Notey"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".NoteyAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".NotesCreate" />

        <activity android:name=".Taskk"
            tools:ignore="Instantiatable" />
        <activity android:name="TaskAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".TaskCreateActivity"/>
        <activity android:name=".LoginUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>